.darkcolor{
    background-color: darkblue !important;
}
.image{
    width: 69%;
    height: 23%;
    display: block;
    position: relative;
}
body{
    background-color: bisque;
}
.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(47, 66, 14);
    position: relative;
    text-align: right;
}
.header{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(12, 12, 26);
    text-align: center;
    font-size: x-large;
}
.list{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(7, 36, 7);
    font-weight: 500;
    font-style: oblique;
    font-variant-numeric:ordinal;
}
.footer{
    bottom: 0px;
    width: 100%;
    background-color: lightblue;
    border-top: turquoise;
    position: fixed;
    text-align: center;
    font-style: italic; 
}